.toggle-button
{
        -fx-background-radius: 5em;
        -fx-min-width: 40px;
        -fx-min-height: 40px;
        -fx-max-width: 40px;
        -fx-max-height: 40px;
        -fx-background-color: #262626;
        -fx-background-insets: 0px;
        -fx-padding: 0px;
}

.toggle-button:hover {
    -fx-background-color: #00ff00;
}


.toggle-button:selected {
    -fx-background-color: #00ff00;
}